@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('./../../../../bootstrap-icons/font/bootstrap-icons.css'); 
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */

/* Navbar */





.hero-btn{
    animation: fade-in ease-in-out 2s forwards;
    animation-delay: 2s;
  }
  @keyframes fade-in {
    0%{
      opacity: 0;
      scale: 0;
    }
    50%{
      scale: 1.5;
      opacity: .5;
    }
    100%{
      opacity: 1;
      scale: 1;
    }
  }
  .tan{
    background: linear-gradient(to right, #da55ff, rgb(135, 206, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero{
    animation: shift ease-in-out 2s forwards;
    animation-delay: .3s;
  }
  .service-card{
   animation: shift ease-in-out 2s forwards;
   animation-delay: .5s; 
  }
  .nav-item{
    animation: shift ease-in-out 2s forwards;
    transition: .6s ease;
    &:hover{
      scale: 1.1;
      border-color: linear-gradient(to right, #da55ff, rgb(135, 206, 235));
    }
  }
  .sidebar{
    animation: shift ease-in-out .6s forwards;
  }
  @keyframes shift {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
      transform: translate(0%);
    }
  }

    .grad{
      background:linear-gradient(to right, #da55ff, rgb(135, 206, 235))
    }
    .card-container {
      scale: .3;
      opacity: 0;
      animation: scroll-watcher linear forwards;
      animation-timeline: view();
      animation-range: end;
     }
    @keyframes scroll-watcher {
      40%, 100%{
          scale: 1;
          opacity: 1;
      }
    }
