@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lilita+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
* {
  scroll-behavior: smooth;
}
.section-heading {
  @apply text-main2 font-bold text-xl p-2 my-4 md:text-3xl;
 }
/* Navbar */
.selected{
  @apply text-main2;
}

.sidebar-active{
  @apply scale-y-100;
}

/* Home Page */

.hero{
  background-image: url('/assets/munax.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 640px) {
  .hero {
      background-image: url('/assets/munax2.jpg');
      }
  }

  ul li::marker {
    color: #ff6347; /* Tomato color */
}

/* Video Gallery */

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
