@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
.roboto {
  font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.selected{
  @apply text-main2;
}

.sidebar-active{
  @apply scale-y-100;
}

/* Home Page */

.hero{
  background-image: url('/assets/munax.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

